extends base.pug

block content
    video(src="/" + videos.fileUrl, controls)
    div
        p=videos.description
        small=videos.createdAt
        small=videos.owner
    div
        small Uploaded by #{owner.username}
    if String(videos.owner) === String(loggedInUser._id)
        a(href=`${videos.id}/edit`) Edit videoInfo &rarr;
        a(href=`${videos.id}/delete`) Delete video &rarr;