extends ../base.pug

block content
    div#videoContainer(data-id=videos._id)
        video(src="/" + videos.fileUrl)
        div#videoControls
            button#play Play
            button#mute Mute
            input(type="range", step="0.01", value=0.5, min="0", max="1", style="padding:0;")#volume
            div
                span#currentTime 00:00
                span  / 
                span#totalTime 00:00
                span  / 
                span#leftTime 00:00
            div
                input(type="range", step="0.01", value="0", min="0", style="padding:0;")#timeline
            div
                button#fullScreen Enter Full Screen
    //-
        div
            p=videos.description
            small=videos.createdAt
        div
            small Uploaded by 
                a(href=`/users/${videos.owner._id}`)=videos.owner.username
        if String(videos.owner._id) === String(loggedInUser._id)
            a(href=`${videos.id}/edit`) Edit videoInfo &rarr;
            a(href=`${videos.id}/delete`) Delete video &rarr;
    if loggedIn
        div.video__comments
            form.video__comment-form#commentForm
                textarea(cols="30", rows="10", placeholder="Write a comment...")
                button Add Comment



block scripts
    script(src="/static/js/videoPlayer.js")
    script(src="/static/js/commentSection.js")